#summary-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/bg.png);
  overflow: hidden;
}
#summary-wrapper > img {
  position: absolute;
  top: 52px;
  left: 100px;
  right: 0;
  bottom: 0;
  transform: scale(0.9);
}
#summary-wrapper > .btn-download {
  position: absolute;
  top: 114px;
  left: 866px;
  margin: 0;
  width: 56px;
  height: 65px;
  background: url("img/btn_download.png");
}
#summary-wrapper > .page-wrapper {
  position: absolute;
  top: 517px;
  left: 505px;
  height: 33px;
  transform: translateX(-50%);
}
#summary-wrapper > .page-wrapper > .btn-prev,
#summary-wrapper > .page-wrapper > .btn-next {
  position: relative;
  top: -20px;
  float: left;
  margin: 0 5px;
  width: 46px;
  height: 83px;
  background: url(img/btn_page.png);
  transform: scale(0.8);
}
#summary-wrapper > .page-wrapper > .btn-prev:hover,
#summary-wrapper > .page-wrapper > .btn-next:hover {
  background-position-y: -86px;
}
#summary-wrapper > .page-wrapper > .btn-next {
  background-position-x: -46px;
  right: -90px;
}
#summary-wrapper > .page-wrapper > .btn-prev {
  left: -86px;
}
#summary-wrapper > .page-wrapper > .paginator {
  float: left;
  margin: 0 5px;
  padding: 0;
  list-style: none;
}
#summary-wrapper > .page-wrapper > .paginator > li {
  float: left;
  margin: 13.5px 0;
  width: 17px;
  height: 17px;
  background: url(img/dot.png) no-repeat center;
  cursor: pointer;
}
#summary-wrapper > .page-wrapper > .paginator > li + li {
  margin-left: 7px;
}
#summary-wrapper > .page-wrapper > .paginator > li.active,
#summary-wrapper > .page-wrapper > .paginator > li:hover {
  background-image: url(img/dot_active.png);
}
